<launch>
  <!-- Arguments -->
  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_odom_frame" default="filtered/odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="eric_a_slam_gmapping" output="screen">
    <rosparam command="load" file="$(find eric_a_slam)/config/gampping.yaml"/>
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
  </node>
</launch>