<launch>
  <!-- launching state publishers -->
  <include file="$(find eric_a_bringup)/launch/eric_a_remote.launch"/>

  <!-- launching gmapping node and parameters -->
  <include file="$(find eric_a_slam)/launch/eric_a_gmapping.launch">
    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find omo_r1_slam)/launch/eric_a_gmapping.rviz"/>

</launch>