<launch>
  <arg name="namespace"               default="eric_a_dynamixel_workbench"/>
  <arg name="is_loop"               default="false"/>
  <arg name="machine" />  

  <param name="$(arg namespace)/trajectory_info" value="$(find eric_a_servo)/config/motion.yaml"/>
  <node name="eric_a_dynamixel" pkg="dynamixel_workbench_operators" type="joint_operator" machine="$(arg machine)"
        required="true" output="screen" ns="$(arg namespace)">
    <param name="is_loop" value="$(arg is_loop)"/>
  </node>
</launch>