<launch>
  <arg name="mahcine" default=""/>

  <!-- AMCL -->
  <include file="$(find eric_a_navigation)/launch/amcl.launch">
    <arg name="scan_topic"     default="base_scan"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="ekf_option"     default="1"/>
  </include>

  <!-- kalman filter -->
  <include file="$(find eric_a_navigation)/launch/eric_a_configuration.launch">
  </include>   
</launch>
