<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odometry/filtered" />
  <arg name="move_forward_only" default="true"/>
  <arg name="machine" default=""/>  
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" machine="$(arg machine)">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/global_costmap_params.yaml" command="load" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/move_base_params.yaml" command="load" />
    <rosparam file="/home/ubuntu/catkin_ws/src/ERIC_A/eric_a_navigation/param/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>
