<launch>
    <arg name="mode" default="0"/>
    <!--slam is 0, navigation is 1 -->


    <!-- master rasberry pi -->
    <arg name="set_port_lidar" default="/dev/ttyLIDAR"/>
    <!-- <arg name="set_port_imu" default="/dev/ttyIMU"/> -->
    <arg name="set_lidar_frame_id" default="laser_link"/>
    <arg name="set_imu_frame_id" default="imu_link"/>

    <include file="$(find eric_a_lidar)/launch/omo_r1_lidar.launch">
        <arg name="set_port" default="$(arg set_port_lidar)"/>
        <arg name="set_frame_id" default="$(arg set_lidar_frame_id)"/>
        <arg name="frequency" default="10.0"/>
    </include>

    <include file="$(find eric_a_imu)/launch/eric_a_imu.launch">
        <arg name="machine" value="the_machine" />
        <!-- <arg name="set_port" default="$(arg set_port_imu)"/> -->
        <arg name="set_frame_id" default="$(arg set_imu_frame_id)"/>
        <arg name="frequency" default="100.0"/>
    </include>

    <include if="$(eval arg(mode) =='0')" file="$(find eric_a_slam)/lauch/eric_a_slam.launch"/>
    <!-- mapping -->

    <include if="$(eval arg(mode) =='1')" file="$(find eric_a_navigation)/launch/eric_a_navigation"/>
    <!-- navigation -->

    <!-- remote control rasberry pi -->
    <group>
        <machine
            name="control_machine"
            address="192.168.91.22" 
            env-loader="/opt/ros/melodic/env_remote1.sh"
            default="true"
            user="ubuntu"
        />
        <include file="$(find eric_a_bringup)/launch/eric_a_motor.launch">
            <arg name="machine" default="control_machine"/>
        </include>

        <include file="$(find eric_a_navigation)/launch/eric_a_configuration.launch">
            <arg name="machine" default="control_machine"/>
        </include>  

        <include if="$(eval arg(mode) =='1')"  file="$(find eric_a_navigation)/launch/amcl.launch">
            <arg name="machine" default="control_machine"/>
        </include>
    </group>

</launch>