<launch>
    <arg name="mode" default="1"/>
    <!--slam is 0, navigation is 1 -->
    <group>
        <arg name="set_port_imu" default="/dev/ttyIMU"/>
        <arg name="set_imu_frame_id" default="imu_link"/>
        <arg name="set_port_lidar" default="/dev/ttyLIDAR"/>
        <arg name="set_lidar_frame_id" default="base_scan"/>

        <machine
            name="control_machine"
            address="192.168.3.52" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="ubuntu"
        />
        <machine           
            name="rpi_main_machine"
            address="192.168.3.127" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="ubuntu"
        />
        <machine           
            name="main_machine"
            address="192.168.3.22" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="jeonghan"
        />

        <!-- <machine           
            name="sub_machine"
            address="192.168.3.18" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="jongchan"
        /> -->

        <machine           
            name="jetson"
            address="192.168.3.24" 
            env-loader="/opt/ros/melodic/env_remote.sh"
            default="true"
            user="crashlab"
        />


        <include file="$(find eric_a_bringup)/launch/eric_a_motor.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <!-- motor -->

        <!-- <include file="$(find eric_a_servo)/launch/eric_a_dynamixel.launch">
            <arg name="machine" default="rpi_main_machine"/>
            <arg name="usb_port"                default="/dev/ttyDYNAMIXEL"/>
            <arg name="dxl_baud_rate"           default="57600"/>
        </include> -->
        <!-- servo -->

        <include file="$(find eric_a_servo)/launch/eric_a_serial.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <!-- linear -->

        <include if="$(eval arg('mode') ==1)" file="$(find eric_a_navigation)/launch/eric_a_navigation.launch">
            <arg name="machine" default="rpi_main_machine"/>
        </include>
        <!-- navigation -->

        <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_bringup)/launch/eric_a_remote.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <!-- remote -->

        <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/amcl.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <!-- amcl -->

        <!-- <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/mcl.launch">
            <arg name="machine" default="main_machine"/>
        </include> -->
        <!-- mcl -->

        <!-- <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/emcl2.launch">
            <arg name="machine" default="control_machine"/>
        </include> -->
        <!-- emcl2 -->


        <!--            up control down main             -->

        <include file="$(find eric_a_navigation)/launch/eric_a_configuration.launch">
            <arg name="machine" default="control_machine"/>
        </include>  
        <!-- kalman, reset -->

        <include file="$(find eric_a_imu)/launch/eric_a_imu.launch">
            <arg name="set_frame_id" default="$(arg set_imu_frame_id)"/>
            <arg name="frequency" default="100.0"/>
            <arg name="machine" default="control_machine"/>
        </include>

        <include file="$(find eric_a_lidar)/launch/eric_a_lidar.launch">
            <arg name="set_port" default="$(arg set_port_lidar)"/>
            <arg name="set_frame_id" default="$(arg set_lidar_frame_id)"/>
            <arg name="frequency" default="10.0"/>
            <arg name="machine" default="control_machine"/>
        </include>


        <!-- <include if="$(eval arg('mode') ==0)" file="$(find eric_a_slam)/launch/eric_a_slam.launch"/> -->
        <!-- mapping -->



        <include file="$(find eric_a_vision)/launch/darknet_ros.launch">
            <arg name="machine" default="jetson"/>
        </include> 

        <!-- <node pkg="rviz" type="rviz" name="rviz" required="true" machine="main_machine"
          args="-d $(find eric_a_navigation)/rviz/eric_a_navigation.rviz"/> -->

    </group>

</launch>