<launch>
    <arg name="mode" default="1"/>
    <!--slam is 0, navigation is 1 -->
    <group>
        <arg name="set_port_imu" default="/dev/ttyIMU"/>
        <arg name="set_imu_frame_id" default="imu_link"/>
        <arg name="set_port_lidar" default="/dev/ttyLIDAR"/>
        <arg name="set_lidar_frame_id" default="base_link"/>

        <machine
            name="control_machine"
            address="192.168.240.52" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="ubuntu"
        />
        <machine           
            name="rpi_main_machine"
            address="192.168.240.127" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="ubuntu"
        />
        <machine           
            name="main_machine"
            address="192.168.240.22" 
            env-loader="/opt/ros/noetic/env_remote.sh"
            default="true"
            user="jeonghan"
        />

        <!-- <machine           
            name="jetson"
            address="192.168.240.24" 
            env-loader="/opt/ros/melodic/env_remote.sh"
            default="true"
            user="crashlab"
        /> -->

        <include file="$(find eric_a_bringup)/launch/eric_a_motor.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <!-- motor -->

        <!-- <include file="$(find eric_a_servo)/launch/eric_a_dynamixel_controller.launch">
            <arg name="machine" default="control_machine"/>
        </include>
        <include file="$(find eric_a_servo)/launch/eric_a_dynamixel_operator.launch">
            <arg name="machine" default="contro<include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/emcl2.launch">
            <arg name="machine" default="main_machine"/>
        </includl_machine"/>
        </include> -->
        <!-- servo -->

        <!-- <include file="$(find eric_a_servo)/launch/eric_a_serial.launch">
            <arg name="machine" default="control_machine"/>
        </include> -->
        <!-- linear -->

        <include if="$(eval arg('mode') ==1)" file="$(find eric_a_navigation)/launch/eric_a_navigation.launch">
            <arg name="machine" default="main_machine"/>
        </include>
        <!-- navigation -->

        <!-- <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/amcl.launch">
            <arg name="machine" default="main_machine"/>
        </include> -->
        <!-- amcl -->

        <!-- <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/mcl.launch">
            <arg name="machine" default="main_machine"/>
        </include> -->
        <!-- mcl -->

        <include if="$(eval arg('mode') ==1)"  file="$(find eric_a_navigation)/launch/emcl2.launch">
            <arg name="machine" default="main_machine"/>
        </include>
        <!-- emcl2 -->


        <!--            up control down main             -->

        <!-- <include file="$(find eric_a_imu)/launch/eric_a_imu.launch">
            <arg name="set_port" default="$(arg set_port_imu)"/> 
            <arg name="set_frame_id" default="$(arg set_imu_frame_id)"/>
            <arg name="frequency" default="100.0"/>
            <arg name="machine" default="control_machine"/>
        </include> -->

        <include file="$(find eric_a_lidar)/launch/eric_a_lidar.launch">
            <arg name="set_port" default="$(arg set_port_lidar)"/>
            <arg name="set_frame_id" default="$(arg set_lidar_frame_id)"/>
            <arg name="frequency" default="10.0"/>
            <arg name="machine" default="control_machine"/>
        </include>


        <include if="$(eval arg('mode') ==0)" file="$(find eric_a_slam)/launch/eric_a_slam.launch"/>
        <!-- mapping -->


        <!-- <include file="$(find eric_a_navigation)/launch/eric_a_configuration.launch">
            <arg name="machine" default="main_machine"/>
        </include>   -->
        <!-- kalman, reset -->

        <!-- <include file="$(find eric_a_vision)/launch/darknet_ros.launch">
            <arg name="machine" default="jetson"/>
        </include>  -->
    </group>

</launch>