<launch>
  <arg name="machine" />     
  <node pkg="eric_a_bringup" 
        type="eric_a_motor_node.py" 
        name="eric_a_motor_node"  
        machine="$(arg machine)"
  />

  <node pkg="eric_a_bringup" 
        type="eric_a_control_node" 
        name="eric_a_control_node"  
        machine="$(arg machine)"
  /> -->

</launch>